
footer > div > ul{
    grid-area: footer;
    text-align: center;
    border-top: 1px solid;
    list-style: none;
}


.block {
    width: 100%;
}
div > section > h1{
    color: black;
}
.paragraphe{
    text-align: center;
    background-color:grey;
    color: white;
    padding: 10px;

}